body{
	background-image: url(webBackground.jpeg);
	background-repeat: no-repeat;
	background-size: auto;
}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 500%;

}
.MyName{
	margin-top: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5%;

}
.btn-dark{
	font-size: 200%;
}
.btn-dark:hover{
	background-color: grey;
}
